<h1>Albums</h1>

{{#each albums}}

  <picture>
    <img src="{{this.images.0.url}}" alt="{{this.name}}" />
  </picture>

  <p>Name: {{this.name}}</p>

  <p><a href="{{this.id}}/tracks">View tracks</a></p>

{{/each}}