<h1>HOME</h1>

<form
  action="/artist-search"
  method="GET"
  {{! enctype="application/x-www-form-urlencoded" }}
>

  <div>
    <label for="artist">Artist: </label>
    <input type="text" id="artist" name="artist" placeholder="Which artist?" />
  </div>

  <button>Search for an Artist</button>

</form>